/*GLOBAL CSS SECTION*/
/* ~~~~~~START~~~~~~~ */

#background-image {
  background: url("/images/octoscreen-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.ui.color.button {
  background-color: #5c5ca0 !important;
  color: #fff;
}

/* ~~~~~~END~~~~~~~ */
/*GLOBAL CSS SECTION*/



/*LANDING SECTION*/
/* ~~~~~~START~~~~~~~ */

/* ~~~~~~END~~~~~~~ */
/*LANDING SECTION*/
